
 %hoverli { 
    transform: scale(1.2);
    transition: 1.5s;
    color:$terciario;
    background-color: $fondopalet;
 }
 %hoverbboot{ 
 color:$fondopalet2ytc;
 background-color: 
 $secundario;  
 }
 
 
 